#flashcardApp {
    display: flex;
    flex-flow: row nowrap;
}

.stackScroller {
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
}

.activeDeckSection {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

#flashcardsTitle {
    margin-left: 3%;
}